{% extends 'base.html' %}
{% block content %} 
{% load static %}

<br /><br />
<div class="contact">
  <div class="container-default w-container">
    <div class="contact-wrapper">
      <div style="-webkit-transform:translate3d(null, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:50" class="split-content contact-left">
        <h1 class="title contact">
          <span class="accent-strikethrough-text">Upload Review</span>
        </h1>

      </div>
      <div data-w-id="e64b5223-d9c5-3158-60c6-1ac933a5f36e" style="-webkit-transform:translate3d(null, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:50" class="split-content contact-right">
        <div class="card bg-neutral-200 contact-form">
          <div class="contact-form-block w-form">
            <form id="wf-form-Contact-Form" name="wf-form-Contact-Form"
          class="contact-form-grid"
          action="{% url 'upload_review' %}" method="post" 
          >
          {% csrf_token %}

              <input type="text" class="input w-input" maxlength="256" name="name" data-name="Name" placeholder="Reviewer Name" id="name" required="" />
              <input type="email" class="input w-input" maxlength="256" name="email" data-name="Email" placeholder="Reviewer Email Address" id="Email" required="" />

              <textarea class="input w-input" id="message" name="message"rows="1" placeholder="Review"></textarea>
              
              <br><input type="submit" value="Send Your Message" data-wait="Please wait..." id="w-node-e64b5223-d9c5-3158-60c6-1ac933a5f377-5c023258" class="button-primary w-button" />
            </form>
            <div class="success-message w-form-done">
              <div>Your message has been submitted. <br />I will get back to you within 24-48 hours. </div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong.</div>
            </div>
          </div>
        </div>
        <img src="https://assets-global.website-files.com/600a053d63ba7783aa0038a1/60105713ab98b1be2192520f_bg-2-contact-book-template.svg" alt="" style="opacity:0" data-w-id="e64b5223-d9c5-3158-60c6-1ac933a5f380" class="bg contact-2" />
        <img src="https://assets-global.website-files.com/600a053d63ba7783aa0038a1/60105713e23f3dde865160e6_bg-1-contact-book-template.svg" alt="" style="opacity:0" data-w-id="e64b5223-d9c5-3158-60c6-1ac933a5f381" class="bg contact-1" />
      </div>
    </div>
  </div>
  <br /><br />
</div>

{% endblock %}